pinbal-core/src/main/resources/META-INF/wsdl/recobriment.wsdl

<definitions name="RecobrimentService" targetNamespace="http://www.caib.es/pinbal/ws/recobriment" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.caib.es/pinbal/ws/recobriment" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <types>
  <xs:schema targetNamespace="http://www.caib.es/pinbal/ws/recobriment" version="1.0" xmlns:tns="http://www.caib.es/pinbal/ws/recobriment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="peticionSincrona" type="tns:peticionSincrona"/>
   <xs:element name="peticionSincronaResponse" type="tns:peticionSincronaResponse"/>
   <xs:complexType name="peticionSincrona">
    <xs:sequence>
     <xs:element minOccurs="0" name="arg0" type="tns:peticion"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="peticion">
    <xs:sequence>
     <xs:element minOccurs="0" name="atributos" type="tns:atributos"/>
     <xs:element minOccurs="0" name="solicitudes" type="tns:solicitudes"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="atributos">
    <xs:sequence>
     <xs:element minOccurs="0" name="codigoCertificado" type="xs:string"/>
     <xs:element minOccurs="0" name="estado" type="tns:estado"/>
     <xs:element minOccurs="0" name="idPeticion" type="xs:string"/>
     <xs:element minOccurs="0" name="numElementos" type="xs:string"/>
     <xs:element minOccurs="0" name="timeStamp" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="estado">
    <xs:sequence>
     <xs:element minOccurs="0" name="codigoEstado" type="xs:string"/>
     <xs:element minOccurs="0" name="codigoEstadoSecundario" type="xs:string"/>
     <xs:element minOccurs="0" name="literalError" type="xs:string"/>
     <xs:element minOccurs="0" name="tiempoEstimadoRespuesta" type="xs:int"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solicitudes">
    <xs:sequence>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="solicitudTransmision" nillable="true" type="tns:solicitudTransmision"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solicitudTransmision">
    <xs:sequence>
     <xs:element minOccurs="0" name="datosEspecificos" type="xs:anyType"/>
     <xs:element minOccurs="0" name="datosGenericos" type="tns:datosGenericos"/>
     <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datosGenericos">
    <xs:sequence>
     <xs:element minOccurs="0" name="emisor" type="tns:emisor"/>
     <xs:element minOccurs="0" name="solicitante" type="tns:solicitante"/>
     <xs:element minOccurs="0" name="titular" type="tns:titular"/>
     <xs:element minOccurs="0" name="transmision" type="tns:transmision"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emisor">
    <xs:sequence>
     <xs:element minOccurs="0" name="nifEmisor" type="xs:string"/>
     <xs:element minOccurs="0" name="nombreEmisor" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solicitante">
    <xs:sequence>
     <xs:element minOccurs="0" name="consentimiento" type="tns:consentimiento"/>
     <xs:element minOccurs="0" name="finalidad" type="xs:string"/>
     <xs:element minOccurs="0" name="funcionario" type="tns:funcionario"/>
     <xs:element minOccurs="0" name="idExpediente" type="xs:string"/>
     <xs:element minOccurs="0" name="identificadorSolicitante" type="xs:string"/>
     <xs:element minOccurs="0" name="nombreSolicitante" type="xs:string"/>
     <xs:element minOccurs="0" name="procedimiento" type="tns:procedimiento"/>
     <xs:element minOccurs="0" name="unidadTramitadora" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="funcionario">
    <xs:sequence>
     <xs:element minOccurs="0" name="nifFuncionario" type="xs:string"/>
     <xs:element minOccurs="0" name="nombreCompletoFuncionario" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="procedimiento">
    <xs:sequence>
     <xs:element minOccurs="0" name="codProcedimiento" type="xs:string"/>
     <xs:element minOccurs="0" name="nombreProcedimiento" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="titular">
    <xs:sequence>
     <xs:element minOccurs="0" name="apellido1" type="xs:string"/>
     <xs:element minOccurs="0" name="apellido2" type="xs:string"/>
     <xs:element minOccurs="0" name="documentacion" type="xs:string"/>
     <xs:element minOccurs="0" name="nombre" type="xs:string"/>
     <xs:element minOccurs="0" name="nombreCompleto" type="xs:string"/>
     <xs:element minOccurs="0" name="tipoDocumentacion" type="tns:tipoDocumentacion"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transmision">
    <xs:sequence>
     <xs:element minOccurs="0" name="codigoCertificado" type="xs:string"/>
     <xs:element minOccurs="0" name="fechaGeneracion" type="xs:string"/>
     <xs:element minOccurs="0" name="idSolicitud" type="xs:string"/>
     <xs:element minOccurs="0" name="idTransmision" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="peticionSincronaResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="return" type="tns:respuesta"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="respuesta">
    <xs:sequence>
     <xs:element minOccurs="0" name="atributos" type="tns:atributos"/>
     <xs:element minOccurs="0" name="transmisiones" type="tns:transmisiones"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transmisiones">
    <xs:sequence>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="transmisionDatos" nillable="true" type="tns:transmisionDatos"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transmisionDatos">
    <xs:sequence>
     <xs:element minOccurs="0" name="datosEspecificos" type="xs:anyType"/>
     <xs:element minOccurs="0" name="datosGenericos" type="tns:datosGenericos"/>
     <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="consentimiento">
    <xs:restriction base="xs:string">
     <xs:enumeration value="Si"/>
     <xs:enumeration value="Ley"/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="tipoDocumentacion">
    <xs:restriction base="xs:string">
     <xs:enumeration value="CIF"/>
     <xs:enumeration value="NIF"/>
     <xs:enumeration value="DNI"/>
     <xs:enumeration value="Pasaporte"/>
     <xs:enumeration value="NIE"/>
    </xs:restriction>
   </xs:simpleType>
  </xs:schema>
 </types>
 <message name="Recobriment_peticionSincronaResponse">
  <part element="tns:peticionSincronaResponse" name="peticionSincronaResponse"/>
 </message>
 <message name="Recobriment_peticionSincrona">
  <part element="tns:peticionSincrona" name="peticionSincrona"/>
 </message>
 <portType name="Recobriment">
  <operation name="peticionSincrona" parameterOrder="peticionSincrona">
   <input message="tns:Recobriment_peticionSincrona"/>
   <output message="tns:Recobriment_peticionSincronaResponse"/>
  </operation>
 </portType>
 <binding name="RecobrimentBinding" type="tns:Recobriment">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="peticionSincrona">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="RecobrimentService">
  <port binding="tns:RecobrimentBinding" name="RecobrimentServicePort">
   <soap:address location="http://127.0.0.1:8080/pinbal/ws/recobriment"/>
  </port>
 </service>
</definitions>